@charset "utf-8";

/* ---------------------------------------------------------------------------
 [ px.visual.css ]

 ヴィジュアル設定

 装飾に関する設定を行います。

--------------------------------------------------------------------------- */

body {

}


/*======================================

  fixed 設定

=======================================*/
/*.px-fixed .px-center {
  background: #CCC;
}

.px-fixed .px-north {
  background: #E6E6E6;
}

.px-fixed .px-west-wrap .px-west {
  background: #EFEFEF;
}

.px-fixed .px-west-wrap .px-east {
  background: #bbb;
}

.px-fixed .px-center-wrap .px-north {
  background: #CCC;
}

.px-fixed .px-center-wrap .px-west {
  background: #EFEFEF;
}

.px-fixed .px-center-wrap .px-center {
  background: #CCC;
}

.px-fixed .px-center-wrap .px-east {
  background: #bbb;
}

.px-fixed .px-east-wrap .px-west {
  background: #EFEFEF;
}

.px-fixed .px-east-wrap .px-east {
  background: #bbb;
}

.px-fixed .px-south {
  background: #999;
}


/* ------------------------------
 C 設定
------------------------------ */
.px-fixed.px-c {

}


/* ------------------------------
 CE 設定
------------------------------ */
.px-fixed.px-ce {

}


/* ------------------------------
 CES 設定
------------------------------ */
.px-fixed.px-ces {

}


/* ------------------------------
 CEW 設定
------------------------------ */
.px-fixed.px-cew {

}


/* ------------------------------
 CEWS 設定
------------------------------ */
.px-fixed.px-cews {

}


/* ------------------------------
 CN 設定
------------------------------ */
.px-fixed.px-cn {

}


/* ------------------------------
 CNE 設定
------------------------------ */
.px-fixed.px-cne {

}


/* ------------------------------
 CNES 設定
------------------------------ */
.px-fixed.px-cnes {

}


/* ------------------------------
 CNEW 設定
------------------------------ */
.px-fixed.px-cnew {

}


/* ------------------------------
 CNEWS 設定
------------------------------ */
.px-fixed.px-cnews {

}


/* ------------------------------
 CNS 設定
------------------------------ */
.px-fixed.px-cns {

}


/* ------------------------------
 CNW 設定
------------------------------ */
.px-fixed.px-cnw {

}


/* ------------------------------
 CNWS 設定
------------------------------ */
.px-fixed.px-cnws {

}


/* ------------------------------
 CS 設定
------------------------------ */
.px-fixed.px-cs {

}


/* ------------------------------
 CW 設定
------------------------------ */
.px-fixed.px-cw {

}


/* ------------------------------
 CWS 設定
------------------------------ */
.px-fixed.px-cws {

}


/* ------------------------------
 F 設定
------------------------------ */
.px-fixed.px-f {

}


/* ------------------------------
 FE 設定
------------------------------ */
.px-fixed.px-fe {

}


/* ------------------------------
 FES 設定
------------------------------ */
.px-fixed.px-fes {

}


/* ------------------------------
 FEW 設定
------------------------------ */
.px-fixed.px-few {

}


/* ------------------------------
 FEWS 設定
------------------------------ */
.px-fixed.px-fews {

}


/* ------------------------------
 FN 設定
------------------------------ */
.px-fixed.px-fn {

}


/* ------------------------------
 FNE 設定
------------------------------ */
.px-fixed.px-fne {

}


/* ------------------------------
 FNES 設定
------------------------------ */
.px-fixed.px-fnes {

}


/* ------------------------------
 FNEW 設定
------------------------------ */
.px-fixed.px-fnew {

}


/* ------------------------------
 FNEWS 設定
------------------------------ */
.px-fixed.px-fnews {

}


/* ------------------------------
 FNS 設定
------------------------------ */
.px-fixed.px-fns {

}


/* ------------------------------
 FNW 設定
------------------------------ */
.px-fixed.px-fnw {

}


/* ------------------------------
 FNWS 設定
------------------------------ */
.px-fixed.px-fnws {

}


/* ------------------------------
 FS 設定
------------------------------ */
.px-fixed.px-fs {

}


/* ------------------------------
 FW 設定
------------------------------ */
.px-fixed.px-fw {

}


/* ------------------------------
 FWS 設定
------------------------------ */
.px-fixed.px-fws {

}


/*======================================

   liquid 設定

=======================================*/
/*.px-liquid .px-south {
  background-color: #113b73;
}

.px-liquid-east-ct .px-east-ct {
  background: #009999;
}

.px-liquid .px-center-wrap .px-liquid-ct {
  background: #CCC;
}

.px-liquid .px-center-wrap .px-liquid-center-ct {
  background: #999;
}

.px-liquid .px-center-wrap .px-liquid-center-wrap {
  background: #EFEFEF;
}

.px-liquid .px-center-wrap .px-center {
  background: #FFCC33;
}

.px-liquid .px-center-wrap .px-west {
  background: #FFCC99;
}

.px-liquid .px-center-wrap .px-east {
  background: #FF9999;
}

.px-liquid .px-east {
  background: #6699CC;
}

.px-liquid-west-ct {
  background-color: #eff1f2;
}

.px-liquid-west-ct .px-west-ct {
  background-color: #FFF;
}

.px-liquid-east-ct {
  background: #ff9;
}


/* ------------------------------
 L 設定
------------------------------ */
.px-liquid.px-l .px-center {
  background: #CCC;
}


/* ------------------------------
 LE 設定
------------------------------ */
.px-liquid.px-le {

}


/* ------------------------------
 LES 設定
------------------------------ */
.px-liquid.px-les {

}


/* ------------------------------
 LEW 設定
------------------------------ */
.px-liquid.px-lew {

}


/* ------------------------------
 LEWS 設定
------------------------------ */
.px-liquid.px-lews {

}


/* ------------------------------
 LN 設定
------------------------------ */
/*.px-liquid.px-ln .px-north {
  background: #66CCFF;
}

.px-liquid.px-ln .px-center {
  background: #CCC;
}


/* ------------------------------
 LNE 設定
------------------------------ */
/*.px-liquid.px-lne .px-north {
  background: #66CCFF;
}


/* ------------------------------
 LNES 設定
------------------------------ */
/*.px-liquid.px-lnes .px-north {
  background: #66CCFF;
}


/* ------------------------------
 LNEW 設定
------------------------------ */
/*.px-liquid.px-lnew .px-north {
  background: #66CCFF;
}


/* ------------------------------
 LNEWS 設定
------------------------------ */
./*px-liquid.px-lnews .px-north {
  background: #66CCFF;
}


/* ------------------------------
 LNS 設定
------------------------------ */


/* ------------------------------
 LNW 設定
------------------------------ */
/*.px-liquid.px-lnw .px-north {
  background: #66CCFF;
}


/* ------------------------------
 LNWS 設定
------------------------------ */
/*.px-liquid.px-lnws .px-north {
  background: #66CCFF;
}


/* ------------------------------
 LS 設定
------------------------------ */
/*.px-liquid.px-ls .px-center {
  background: #EFEFEF;
}


/* ------------------------------
 LW 設定
------------------------------ */
.px-liquid.px-lw {

}


/* ------------------------------
 LWS 設定
------------------------------ */
.px-liquid.px-lws {

}


/* ------------------------------
 フォント 設定
------------------------------ */
strong {
  font-weight: bold;
}


/* ------------------------------
 clear 設定
------------------------------ */
.clear {
  clear: both;
}


/* ------------------------------
 text-align 設定
------------------------------ */
.cmove {
  text-align: center;
}
