<!--{strip}-->
<div class="px-search">

    <div class="px-wrap">

        <div class="px-body">

            <!--{* 検索フォーム *}-->
            <form class="px-form" method="get" action="./">

                <!--{* 検索入力 *}-->
                <input type="text" name="q" value="<!--{$q}-->" />
                <!--{* /検索入力 *}-->

                <!--{* 検索ボタン *}-->
                <button type="submit" class="searchbtn">検索</button>
                <!--{* /検索ボタン *}-->

            </form>
            <!--{* /検索フォーム *}-->

        </div>

    </div>

</div>
<!--{/strip}-->