<?xml version="1.0" encoding="utf-8"?>
<phpunit>
    <filter>
        <blacklist>
            <directory>./</directory>

            <file>../../library/xFrameworkPX/Util/Serializer.php</file>
            <file>../../library/xFrameworkPX/Util/Observable.php</file>
            <file>../../library/xFrameworkPX/Util/MixedCollection.php</file>
            <file>../../library/xFrameworkPX/Object.php</file>
            <file>../../library/xFrameworkPX/Exception.php</file>
            <file>../../library/xFrameworkPX/extender.php</file>
            <file>../../library/xFrameworkPX/Model.php</file>
        </blacklist>
    </filter>
</phpunit>