<?xml version="1.0" encoding="utf-8"?>
<phpunit>
    <filter>
        <blacklist>
            <directory>./</directory>
            <file>../../library/xFrameworkPX/Config.php</file>
            <file>../../library/xFrameworkPX/Exception.php</file>
            <file>../../library/xFrameworkPX/Object.php</file>
        </blacklist>
    </filter>
</phpunit>